.Rproj.user
archive/
output/archive/
.spyproject
.Rproj.user/shared/notebooks/
logs
M4-methods
Python/logs
Writeup/Research/
Writeup/Other Projects/
Writeup/Proposal/
Writeup/Tasks.docx
Writeup/Thesis Notes 2023-8-2.txt
Writeup/PG Project Guidance 2022-23_230512.pdf
Writeup/INM363_BCSsummary_AP230224.1.pdf
Writeup/archive/
.ipynb_checkpoints
Thesis/Python/archive/
Python/.ipynb_checkpoints
data/m4
data/results
Python/transformer
data/news_eod.csv
data/news_arc.csv
data/news_arc_sentiment.csv
data/news_eod_sentiment.csv
